{% extends 'layout.html.twig' %}

{% block body %}
    <h1>Service : {{ service.name }}</h1>

    <div class="container show-user">
        <div class="row" >
            <div class="">
                <h3 class="display-3">{{ service.name }}</h3>
                <p class="mb-4">{{ service.description }}</p>
                <a class="btn btn-success" href="#">Read more</a>
            </div>
        </div>
    </div>

    <a href="{{ path('user_space') }}">Retour à la liste Services/Formules</a>
{% endblock %}
