{% extends 'layout.html.twig' %}

{% block body %}

    <div class="container show-user">
        <div class="row" >
            <div class="">
                <h1>Découvrez les formules disponibles</h1>

                {% for formule in formules %}
                    <div class="containers">
                        <div class="w3-container">
                            <h3>{{ formule.name }}</h3>
                            <a href="{{ path('formule_show', {'id': formule.id}) }}"><i class="info material-icons">info_outline</i></a>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>


    <div class="container show-user">
        <div class="row" >
            <div class="">
                <h1>Ou les services en individuels</h1>

                {% for service in services %}
                    <div class="containers">
                        <div class="w3-container">
                            <h3>{{ service.name }}</h3>
                            <a href="{{ path('service_show', {'id': service.id}) }}"><i class="info material-icons">info_outline</i></a>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>




{% endblock %}