{% extends 'layout.html.twig' %}

{% block body %}
   <div class="container">
       <h1>Edit Formule</h1>

       <div class="container">
           {{ include('formule/_form.html.twig', {'button_label': 'Update'}) }}

           <a href="{{ path('formule_index') }}">Retour à la liste</a>

           {{ include('formule/_delete_form.html.twig') }}
       </div>
   </div>

{% endblock %}
