{% extends 'layout.html.twig' %}

{% block body %}
    <div class="container">
        <h1>Formule index</h1>

        <table class="table">
            <thead>
            <tr>
                <th>Nom</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            {% for formule in formules %}
                <tr>
                    <td>{{ formule.name }}</td>
                    <td>
                        <a href="{{ path('formule_edit', {'id': formule.id}) }}"><i class="material-icons">create</i></a>
                        {{ include('formule/_delete_form.html.twig') }}
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="3">No packages found</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        <p><a class="btn-floating btn-large waves-effect waves-light red" href="{{ path('formule_new') }}"><i class="new material-icons">add</i></a></p>
    </div>
{% endblock %}
