{% extends 'layout.html.twig' %}

{% block body %}
    <h1>Formule : {{ formule.name }}</h1>

    <div class="container show-user">
        <div class="row" >
            <div class="">
                <h3 class="display-3">{{ formule.name }}</h3>
                <p class="mb-4">{{ formule.description }}</p>

                <table class="table">
                    <thead>
                    <tr>
                        <th>Name</th>
                        <th>actions</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>blabla</td>
                        <td> blabla</td>
                    </tr>
                    </tbody>
                </table>

                <a class="btn btn-success center" href="#">Réserver</a>

            </div>
        </div>
    </div>

    <a href="{{ path('user_space') }}">Retour à la liste Services/Formules</a>

{% endblock %}
